.Check {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1em;
	text-align: left;

	&.selected {
		.check {
			img {
				display: block;
			}
		}
	}

	.check {
		width: 2em;
		height: 2em;
		border-radius: 2px;
		background-color: #ffffff;
		border: solid 2px #979797;
		min-width: 2em;

		img {
			display: none;
			width: 100%;
			height: auto;
		}
	}

	.label {
		margin-left: 1em;
	}
}
