@import '@styles/theme', '@styles/mixins';

.pageHeading {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100vh;
  min-height: 500px !important;
  position: relative;
  display: flex;
  flex-direction: column;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .fullBgGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    // background: repeating-linear-gradient(
    //   #00000047,
    //   transparent
    // );
    background: transparent
  }

  &.centered {
    align-items: center;
    justify-content: center;

    // .firstContent {
    //   margin: -21% auto 0 12%;
    //   width: 50%;
    //   max-width: 18%;
    //   height: fit-content;
    //   justify-content: flex-start;
    // }
  }

  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
    height: 100%;


    .wrapLogo {
      width: 45%;
      min-height: 71px;
      margin-left: 11%;
      margin-top: 14%;
 
      .detailsWrap {
        width: 50%;
        margin-bottom: 1rem;
        height: 10px;
        background-color: #FFB80F;
        -webkit-mask:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDEyIj4KCTxyZWN0IGlkPSJSZWN0YW5nbGVfMjc1OCIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMjc1OCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjEyIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+Cgk8cGF0aCBpZD0iUGF0aF80NjMzIiBkYXRhLW5hbWU9IlBhdGggNDYzMyIgZD0iTTEzMi41ODQsMCwxMjksMTEuMDQ2aDEuNjU5TDEzNC4yNDMsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjguOTAxIDAuNTIzKSIgZmlsbD0iIzAwMCIvPgo8L3N2Zz4KICA=");
        mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDEyIj4KCTxyZWN0IGlkPSJSZWN0YW5nbGVfMjc1OCIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMjc1OCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjEyIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+Cgk8cGF0aCBpZD0iUGF0aF80NjMzIiBkYXRhLW5hbWU9IlBhdGggNDYzMyIgZD0iTTEzMi41ODQsMCwxMjksMTEuMDQ2aDEuNjU5TDEzNC4yNDMsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjguOTAxIDAuNTIzKSIgZmlsbD0iIzAwMCIvPgo8L3N2Zz4KICA=");
       
      }

      h1 {
        font-family: 'Futura PT Extra', Arial, sans-serif;
        font-style: italic;
        line-height: 1;
        font-weight: 900;
      }

      p {
        margin-top: 2rem;
        line-height: 1;
        font-family: "Futura PT Book", Arial, sans-serif;
        font-style: italic;

        strong {
          font-weight: 900;
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    // @include xxl {
    //   width: 30%;
    // }
    .descriptionContent {
      width: 100%;
      max-width: 600px;
      height: 110px;
      pointer-events: none;


      .oldDescriptionLayoutOne {
        position: absolute;
        bottom: unset;
        margin: 0 !important;
        padding: 0;
        left: clamp(20px, 6vw, 90px);
        top: 20%;

        @media (min-width: 1400px) {

        }

        @media (min-width: 1600px) {
          left: clamp(20px, 13vw, 130px);
        }

        @include xxl {
          left: clamp(40px, 13vw, 180px);
        }

        p {
          margin-top: 0;
          font-size: 2.5rem;
          line-height: 2.5rem;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 2%;
          color: $text-light;
        }

        img {
          height: 2rem;
        }

        img {
          position: relative;
          left: 0;
          top: 0;
          width: 60%;
        }
      }


      .descriptionLayoutOne {
        position: absolute;
      }

      img {
        position: relative;
        width: 167%;
        left: -4.6rem;
        bottom: 3.8rem;
      }

      /* -----------------> 1366 x 768 <----------------- */
      //@media (min-width: 1350px) {
      //  img {


      //  }
      //}

      @media (min-width: 1364px) {
        img {
          position: relative;
          width: 167%;
          left: -4.8rem;
          bottom: 3.8rem;
        }
      }


      /* -----------------> 1440 x 990 <----------------- */
      @media (min-width: 1423px) {
        img {
          position: relative;
          width: 186%;
          left: -7.6rem;
          bottom: 4.3rem;

        }
      }
      @media (min-width: 1438px) {
        img {
          position: relative;
          width: 176%;
          left: -6rem;
          bottom: 4.2rem;
        }
      }

      @media (min-width: 1535px) {
        img {
          position: relative;
          width: 186%;
          left: -7.6rem;
          bottom: 4.5rem;
        }
      }

      /* -----------------> 1680 x 1050 <----------------- */
      @media (min-width: 1662px) {
        img {
          position: relative;
          width: 217%;
          left: -8.6rem;
          bottom: 5.3rem;
        }
      }
      @media (min-width: 1678px) {
        img {
          position: relative;
          width: 216%;
          left: -8.2rem;
          bottom: 5.1rem;
        }
      }


      /* -----------------> 1920 x 1080 <----------------- */
      @media (min-width: 1904px) {
        img {
          position: relative;
          width: 216%;
          left: -4.6rem;
          bottom: 5.2rem;
        }
      }

      @media (min-width: 1917px) {
        img {
          position: relative;
          width: 221%;
          left: -5.1rem;
          bottom: 5.3rem;
        }
      }

      /* -----------------> 2560 x 1440 <----------------- */
      @media (min-width: 2544px) {
        img {
          position: relative;
          width: 296%;
          left: -20.2rem;
          bottom: 15.9rem;
        }
      }

      @media (min-width: 2557px) {
        img {
          position: relative;
          width: 298%;
          left: -20.5rem;
          bottom: 16.2rem;
        }
      }

      @media (min-width: 1600px) {
        left: clamp(20px, 13vw, 130px);
      }

      @include xxl {
        left: clamp(40px, 13vw, 223px);
      }

    }

    .descriptionLayoutTwo {
      position: absolute;
      bottom: unset;
      margin: 0 !important;
      padding: 0;
      left: clamp(20px, 6vw, 90px);
      bottom: 30%;
      width: 40%;

      @media (min-width: 1400px) {
        //
      }

      @media (min-width: 1600px) {
        left: clamp(20px, 13vw, 130px);
      }

      @media (min-width: 1920px) {
        left: clamp(40px, 13vw, 180px);
      }

      .tltBottom {
        font-size: toRem(23);
        font-weight: 600;
        text-transform: uppercase;
        color: $primary;
      }

      p {
        margin-top: 10px;
      }

      img {
        width: 20%;
      }
    }
  }
}

.logoContent {
  height: 11vh;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;

  .logoHero {
    margin-top: 15px;
  }
}

.testeWrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .testeBox {
    width: 50%;
    margin-left: 10%;

    img {
      width: 100%;
      margin: 0;
    }
  }
}