@import '@styles/theme', '@styles/mixins', '@styles/animations';

.container {
  background-color: $background-secondary;
  min-height: $min-mobile-height;
  padding-top: calc(#{$header-size} + 14px) !important;
  @include desktop {
    padding-top: 14px !important;
    outline: 1px solid #{$background-secondary};
    min-height: 100vh;
    padding-bottom: toRem(68);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.swiperWrapper {
  display: block;
  padding-top: toRem(30);
  width: 100%;
}
.swiperSlide {
  padding: 0 #{$section-horizontal-padding};
  @include desktop {
    padding: 0 #{$section-horizontal-padding-desktop};
  }
}
.row {
  // position: relative;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.aligner {
  display: flex;
  flex-direction: column;
  .carInfo {
    > div {
      display: flex;
      justify-content: center;
    }
  }
  &.isActive {
    .right .trapezoid {
      right: calc(0% - 300px);
      opacity: 1;

      @include xl {
        right: calc(0% - 250px);
      }

      @include maxWidth {
        right: -10%;
      }
    }

    .carInfo .trapezoid {
      left: calc(0% - 200px);
      opacity: 1;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    @include desktop {
      min-height: 200px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // padding-top: toRem(32);
    top: 30%;
    right: 0;
    position: relative;
  }

  @include desktop {
    .row > div {
      width: 50%;
    }
  }
}

.bg {
  width: 100% !important;
  height: 20%;
  min-height: 200px;
  top: 30%;
  left: 0;
  position: absolute;
  transition: background-color $transition-time-quick
    $transition-easing;
}

.bgMobile {
  width: calc(100% + 180px) !important;
  height: 20%;
  margin-left: calc(#{$section-horizontal-padding} * -1);
  min-height: 140px;
  top: calc(25% + 3vw);
  left: 0;
  position: absolute;
  transition: background-color $transition-time-quick
    $transition-easing;
}

.trapezoid {
  margin-top: toRem(32);
  height: calc(100% - 60px);
  width: auto;
}

.previous {
  position: absolute !important;
  left: 30px;
  top: calc(50% - 120px);
  z-index: 4;
}

.next {
  position: absolute !important;
  right: 30px;
  top: calc(50% - 120px);
  z-index: 4;
}

.cta {
  margin-top: toRem(30);
  margin-bottom: toRem(56);
  p:last-child {
    border-color: $text-secondary;
  }

  > div {
    padding: toRem(10) toRem(28);
    background-color: $text-secondary;
  }
  p {
    font-size: toRem(18) !important;
    margin-right: clamp(70px, 8vw, 100px);
  }

  &:hover {
    p {
      color: $text-secondary !important;
    }
    border-color: $text-secondary;
    svg {
      color: $text-secondary;
    }
  }
}

.swiperSlideMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    padding-bottom: 6px;
    picture {
      max-width: 175px;
    }
  }

  &:last-of-type {
    margin-right: 20vw;
  }
}

.thumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: toRem(26);
  // padding: 0 clamp(#{toRem(40)}, 2vw, #{toRem(70)});
  padding: 0 $section-horizontal-padding;
  position: relative;
  z-index: 1;
  margin-bottom: toRem(56);

  @include desktop {
    padding: 0 clamp(20px, 2vw, 90px);
  }

  @include xl {
    padding: 0 $section-horizontal-padding-desktop;
  }

  &.mobile {
    padding: 0 0 4px;
  }

  button {
    @include desktop {
      margin-right: toRem(16);
    }

    @include xl {
      margin-right: toRem(30);
    }

    &:focus-visible {
      outline-color: $text-secondary;
      outline-width: 2px;
      outline-style: double;
      outline-offset: toRem(10);
    }
    &.active .name {
      color: $text-primary;
      background-color: $text-secondary;
    }

    &:hover,
    &:focus-visible {
      .name {
        color: $text-primary;
        background-color: $text-secondary;
      }
    }

    p {
      color: $border-color;
      margin-top: toRem(16);
      line-height: toRem(38);
      white-space: nowrap;
      position: relative;

      .name {
        display: block;
        transition: all $transition-time-quick $transition-easing;
        border: 1px solid $border-color;
        background-color: $background-secondary;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
      }

      .outline {
        position: absolute;
        left: 4px;
        top: 4px;
        width: 100%;
        height: 100%;
        border: 1px solid $border-color;
        z-index: 0;
      }
    }
  }
}

.versionName {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: clamp(20px, 2vw, 50px);
  p {
    color: $text-secondary;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: clamp(1.7rem, 8vw, #{toRem(64)});
    line-height: 0.9;
    white-space: nowrap;
  }
  // margin-left: calc(clamp(40px, 2vw, 70px) * -1);
  // margin-right: calc(clamp(40px, 2vw, 70px) * -1);
}

.productImageContainer {
  min-height: 210px;
}

.thumbImageContainer {
  aspect-ratio: 3 / 2 !important;
  min-height: 88px;
}

.productImage {
  max-width: 500px;
  position: relative;
  transition-property: all;
  transition-duration: $transition-time-quick;
  transition-timing-function: $transition-easing;
  z-index: -1;
  opacity: 0 !important;
  left: 320px;
  position: relative;
  z-index: 2;

  img {
    aspect-ratio: 250 / 167 !important;
  }

  &.isVisible {
    opacity: 1 !important;
    left: 0px;
  }
}

.scrollCta {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: $text-secondary;
  padding-top: 14px;

  svg {
    margin-top: 9px;
    @include animationMargin;
  }
}
