.InputContainer {
	text-align: left;

	input {
		display: block;
		width: 100%;
		padding: 10px 5px;

		font-family:'Open Sans', 'futura-pt', sans-serif;
		font-style: italic;

		background-color: transparent;
		color: #4F4F50;

		border: 0px;
		border-bottom: 1px solid #4a4a4a;
	}

	.msg-error {
		margin-top: 0.2em;
	}
}
