@function debug($list, $pre: false, $level: 1) {
  $tab: '    ';
  $indent: '';
  $break: if($pre, '\A ', '');
  @if length($list) == 0 {
    @return '( )';
  }
  @if length($list) == 1 {
    @return if($pre,  '(' + type-of($list) + ') ', '') + $list;
  }
  @for $i from 1 to $level {
    $indent: $indent + $tab;
  }
  $result: '[' + $break;
  @for $i from 1 through length($list) {
    $item: nth($list, $i);
    $result: $result + if($pre, $indent + $tab, ' ');
    @if length($item) > 1 {
      $result: $result
        + if($pre, '(list: ' + length($item) + ') ', '')
        + debug($item, $pre, $level + 1)
      ;
    } @else {
      @if $pre {
        $result: $result + '(' + type-of($item) + ') ';
      }
      @if length($item) == 0 {
        $result: $result + '( )';
      } @else if type-of($item) == string {
        $result: $result + quote($item);
      } @else if $item == null {
        $result: $result + 'null';
      } @else {
        $result: $result + $item;
      }
    }
    @if $i != length($list) {
      $result: $result + ',' + $break;
    }
  }
  $result: $result + $break + if($pre, if($level > 1, $indent, ''), ' ') + ']';
  @return quote($result);
}
