$cyan: #91d1db;
$pink: #ff8094;

// CRONOS
$purple: #343285;
$white: #EDEDE4;
$yellow: #FEB70F;
$black: #0E0E0E;
$gray: #EDEDE3;
$grayLight: #CCCCC3;
$grayMedium: #707070;
$gray878: #878781;
$grayClear: #303030;
$grayDark: #0E0E0E;
$red: #FC1430;
$error: #ff1430;

$color--primary: $grayClear;
$color--secondary: $yellow;
$color--support: $gray;

$regular: "Futura PT";
$book: "Futura PT Book";
$bold: "Futura PT Bold";