@import '@styles/theme', '@styles/mixins';

.Container {
  background-color: $background-grey;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    flex-direction: row;
    height: 180px;
  }
}

.Text {
  padding: 20px 30px;
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
  }

  @include desktop {
    h2 {
      font-size: 27px;
    }
    h4 {
      font-size: 23px;
    }
    padding-left: 76px;
    padding-top: 20px;
    width: 50%;
  }
}
.Stamps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  @include desktop {
    width: 50%;
  }
  img {
    padding: 0 5px;
    width: 130px;
    @include desktop {
      padding: 0 10px;
      width: 160px;
    }
  }

}
