@import "../easing";

// Keyframes
// ------------------------------------------------------------------------
// ~ Sides ~
@keyframes rotateSidesOut {
	from { }
	to { opacity: 0; transform: translateZ(-500px) rotateY(90deg); }
}

@keyframes rotateSidesIn {
	from { opacity: 0; transform: translateZ(-500px) rotateY(-90deg); }
}

// ~ Slide ~
@keyframes rotateSlideRightOut {
	0% { }
	25% { opacity: 0.5; transform: translateZ(-500px); }
	75% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
}

@keyframes rotateSlideRightIn {
	0%, 25% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
	75% { opacity: 0.5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

@keyframes rotateSlideToLeftOut {
	0% { }
	25% { opacity: 0.5; transform: translateZ(-500px); }
	75% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
	100% { opacity: 0.5; transform: translateZ(-500px) translateX(200%); }
}

@keyframes rotateSlideToLeftIn {
	0%, 25% { opacity: 0.5; transform: translateZ(-500px) translateX(-200%); }
	75% { opacity: 0.5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

@keyframes rotateSlideToTopOut {
	0% { }
	25% { opacity: 0.5; transform: translateZ(-500px); }
	75% { opacity: 0.5; transform: translateZ(-500px) translateY(-200%); }
	100% { opacity: 0.5; transform: translateZ(-500px) translateY(-200%); }
}

@keyframes rotateSlideToTopIn {
	0%, 25% { opacity: 0.5; transform: translateZ(-500px) translateY(200%); }
	75% { opacity: 0.5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateY(0); }
}

@keyframes rotateSlideToBottomOut {
	0% { }
	25% { opacity: 0.5; transform: translateZ(-500px); }
	75% { opacity: 0.5; transform: translateZ(-500px) translateY(200%); }
	100% { opacity: 0.5; transform: translateZ(-500px) translateY(200%); }
}

@keyframes rotateSlideToBottomIn {
	0%, 25% { opacity: 0.5; transform: translateZ(-500px) translateY(-200%); }
	75% { opacity: 0.5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateY(0); }
}


// Classes
// ------------------------------------------------------------------------
.Rotate {
	$ref: &;

	// ~ Sides ~
	&SidesOut {
		transform-origin: -50% 50%;
		animation: rotateSidesOut .5s both ease-in;
	}

	&SidesIn {
		transform-origin: 150% 50%;
		animation:rotateSidesIn .5s both ease-out;
	}

	// ~ Slide ~
	&SlideRightOut {
		animation: rotateSlideRightOut 1s both ease;
	}

	&SlideRightIn {
		animation: rotateSlideRightIn 1s both ease;
	}

	&SlideToLeftOut {
		animation: rotateSlideToLeftOut 1s both ease;
	}

	&SlideToLeftIn {
		animation: rotateSlideToLeftIn 1s both ease;
	}

	&SlideToTopOut {
		animation: rotateSlideToTopOut 1s both ease;
	}

	&SlideToTopIn {
		animation: rotateSlideToTopIn 1s both ease;
	}

	&SlideToBottomOut {
		animation: rotateSlideToBottomOut 1s both ease;
	}

	&SlideToBottomIn {
		animation: rotateSlideToBottomIn 1s both ease;
	}
}
