@import "../functions/debug";

@mixin debug($list...) {
  body::before {
    content: debug($list, true) !important;
    display: block !important;
    margin: 1em !important;
    padding: .5em !important;
    background: #EFEFEF !important;
    border: 1px solid #DDD !important;
    border-radius: .2em !important;
    color: #333 !important;
    font: .75em/1.5 "Courier New", monospace !important;
    text-shadow: 0 1px white !important;
    white-space: pre-wrap !important;
    cursor: help;
  }
}
