@import '@styles/theme', '@styles/mixins';

.container {
  position: relative;
}

.nextTab {
  margin-left: 16px;
  color: $text-violetRed;
}

.videoWrapper {
  min-height: 26vw;
  width: 100%;
  position: relative;

  @include maxWidth {
    max-height: 560px;
    min-height: unset;
    height: 26vw;
  }

  iframe {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.slideContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 350px;
  // padding: 0 #{$section-horizontal-padding};
  cursor: grab;
  width: 100vw;

  &:active {
    cursor: grabbing;
  }
}

.controls {
  position: absolute;
  top: calc(64vw + #{toRem(110)});
  margin-top: 1.25rem;
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 clamp(40px, 4vw, 90px);

  .arrows {
    padding-bottom: 4px;
    display: flex;

    button:first-of-type {
      margin-right: 8px;
    }
  }

  .bullets {
    margin-left: -15px;
    margin-bottom: clamp(10px, 1vw, 28px);
  }
  .bullet {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.active {
      @include bulletActive($text-violetRed);
    }
    @include desktop {
      &:hover {
        @include bulletActive($text-violetRed);
      }
    }
    span {
      transition: all $transition-time-quick $transition-easing;
      display: block;
      background-color: $bullet-color;
      border-radius: 50%;
      width: 8px;
      height: 8px;
    }
  }
}

.slideImageContainer {
  aspect-ratio: $aspect-ratio !important;
  @include desktop {
    aspect-ratio: 61 / 39 !important;
  }
  picture,
  img {
    width: 100% !important;
    height: 100% !important;
  }
}

.slideDetails {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  line-height: 1.4;
  padding-top: toRem(70);
  background-color: $background-white;

  h3 {
    color: $text-violetRed;
    font-weight: $font-weight-regular;
    font-size: toRem(18);
  }

  h2 {
    text-align: left !important;
    width: 100%;
    text-transform: uppercase;
    font-size: clamp(#{toRem(26)}, 2vw, #{toRem(30)});
    font-weight: bolder !important;
    margin: toRem(12) 0;
    padding: 0 !important;
    @include maxWidth {
      width: 70%;
    }
  }

  .slideDescription {
    font-size: toRem(16);
    font-weight: 400;
    color: $text-black;
    width: 100%;
    padding: 0 #{$section-horizontal-padding};
    height: 100vh;

    p{
      font-size: toRem(18);
      font-weight: 400;
    }
  }
}
.slideTitle {
  background-color: $background-primary;
  font-size: 32px;
  word-break: normal;
  color: $primary;
  word-break: normal;
  width: 100%;
  text-transform: uppercase;
  padding: 0 #{$section-horizontal-padding};
  height: toRem(80);
  margin-bottom: 30px;
}
