@import '@styles/theme', '@styles/mixins', '@styles/animations';

.container {
  background-color: $background-light;
  min-height: $min-mobile-height;
  // padding-top: calc(#{$header-size} + 14px) !important;
  // padding-bottom: calc(#{$header-size} + 14px) !important;

  @include desktop {
    //min-height: 700px;
    padding-top: toRem(50) !important;
  }
}

.galleryTitle {
  font-family: 'DIN Next LT Pro', Roboto, Helvetica Neue,
    sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: $background-secondary;
  font-size: 32px;
  font-weight: 100;

  strong {
    color: $primary;
    margin-left: 5px;
  }
}

.expandedGallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-dark;
  z-index: 1001;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include desktop {
    background-color: rgba($background-dark, 0.9);
  }

  .closeButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    z-index: 100;
    color: $text-primary;
  }

  .controls {
    margin: 26px 0 0 !important;
    padding: 0 #{$section-horizontal-padding} !important;
    max-width: 100vw;
  }

  .swiperMobile {
    padding: 0 !important;

  }
}

.controlsDesktop {
  button {
    position: absolute;
    z-index: 1003;

    &.arrowRight {
      right: 30px;
      top: calc(50% - 18px);
    }

    &.arrowLeft {
      left: 30px;
      top: calc(50% - 18px);
    }
  }
}

.expandIcon {
  position: absolute;
  z-index: 2;
  margin: 1rem;
  right: 0;
  top: 0;
  border-radius: 10px;
  padding: 3px;
}

.videoHolder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.controls {
  position: relative;
  margin-top: toRem(26);
  margin-bottom: toRem(36);
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  // .bullet {
  //   width: 28px;
  //   height: 28px;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;

  //   &.active {
  //     @include bulletActive($primary);
  //   }

  //   @include desktop {
  //     &:hover {
  //       @include bulletActive($primary);
  //     }
  //   }

  //   span {
  //     transition: all $transition-time-quick $transition-easing;
  //     display: block;
  //     background-color: $bullet-color;
  //     border-radius: 50%;
  //     width: 8px;
  //     height: 8px;
  //   }
  // }

  .bullet {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.active {
      @include bulletActive(#000);
      span{
        border: 1px solid #000;
      }

    }
    @include desktop {
      &:hover {
        @include bulletActive(#000);
        span{
          border: 1px solid #000;
        }
      }
    }
    span {
      transition: all $transition-time-quick $transition-easing;
      display: block;
      width: 12px;
      height: 4px;
      border: 1px solid #000;
    }
  }
}

.mainImage {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: 60vw;
  max-height: 100%;
  position: relative;



  @include desktop {
    height: auto;
    min-height: 400px;
    max-width: unset;
    //max-height: 600px;
    margin-right: toRem(16);
  }

  div,
  img,
  picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 99.8% !important;
  }
}

.galleryContainer {
  margin-top: toRem(26);
}

.aligner {
  @include desktop {
    padding: 0 $section-horizontal-padding-desktop;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .thumbsDesktop {
    flex-grow: 1;
    width: 50%;
    min-width: 300px;
    max-height: 100%;
    overflow-y: auto;
    position: relative;

    .masonryGrid {
      display: -webkit-box; /* Not needed if autoprefixing */
      display: -ms-flexbox; /* Not needed if autoprefixing */
      display: flex;
      width: auto;

      .masonryGridColumn {
        background-clip: padding-box;

        button {
          opacity: 0.6;
          transition: opacity $transition-time-quick
            $transition-easing;
          width: 100%;
          margin-bottom: 0.2rem;

          img {
            max-width: 100%;
          }

          &.active {
            opacity: 1;

          }
        }
      }
    }
  }
}

.swiperMobile {
  padding: 0.5rem 0 0;

  .swiperSlide {
    min-width: 150px;

    button {
      width: 150px;
      height: 100px;


      img {
        max-width: 100%;
        margin-top: 3px;
        height: 100%;
        object-fit: cover;
      }

      &.active {
        opacity: 1;

        img {
          outline: 5px solid #000;
          transition: 0.1s;
        }
      }
    }
  }
}

.expandedSlide {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    height: 100vh;
    padding: calc(#{$section-horizontal-padding-desktop} / 2) #{$section-horizontal-padding-desktop};
    img {
      max-height: calc(
        100vh - #{$section-horizontal-padding-desktop} / 2
      );
    }
  }
}

.scrollCta {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: $text-primary;

  svg {
    margin-top: 9px;
    @include animationMargin;
  }
}


.bgBotton{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}


.scrollCta {
  .scrollCtaWrraper{

  }
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  //margin-top: 1.5rem;
  margin-bottom: 1rem;

  h2 {
  color: #000;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    justify-content: center;
    font-size: toRem(24);
    font-weight: 400;
    strong {
      margin-left: 8px;
      margin-right: 8px;
      font-family: "Futura PT", Arial, sans-serif;
      font-weight: bold;
      font-style: italic;
    }
  }

  svg {
    margin-top: 9px;
    @include animationMargin;
  }
  
}

// .detailsWrap{
//   width: 30%;
//   padding-left: 2%;
//   span{
//     width: 0.7%;
//     height: 12px;
//     margin-right: 8.5%;
//     margin-left: 0%;
//     margin-bottom: 0%;
//     margin-top: 0%;
//     padding: 0;
//     background-color: #FF1430;
//     display: inline-block;
//     -webkit-transform: skew(-16deg); /* Chrome, Opera */
//     -ms-transform: skew(-16deg); /* IE */
//         transform: skew(-16deg); /* Padrão */
//   }
// }

.detailsWrap{
  width: 60%;
  padding-left: 2%;
  height: 10px;

  background-color: #FF1430;
  -webkit-mask:  url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDEyIj4KCTxyZWN0IGlkPSJSZWN0YW5nbGVfMjc1OCIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMjc1OCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjEyIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+Cgk8cGF0aCBpZD0iUGF0aF80NjMzIiBkYXRhLW5hbWU9IlBhdGggNDYzMyIgZD0iTTEzMi41ODQsMCwxMjksMTEuMDQ2aDEuNjU5TDEzNC4yNDMsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjguOTAxIDAuNTIzKSIgZmlsbD0iIzAwMCIvPgo8L3N2Zz4KICA=");
  mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDI0IDEyIj4KCTxyZWN0IGlkPSJSZWN0YW5nbGVfMjc1OCIgZGF0YS1uYW1lPSJSZWN0YW5nbGUgMjc1OCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjEyIiBmaWxsPSJyZ2JhKDI1NSwyNTUsMjU1LDApIi8+Cgk8cGF0aCBpZD0iUGF0aF80NjMzIiBkYXRhLW5hbWU9IlBhdGggNDYzMyIgZD0iTTEzMi41ODQsMCwxMjksMTEuMDQ2aDEuNjU5TDEzNC4yNDMsMFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMjguOTAxIDAuNTIzKSIgZmlsbD0iIzAwMCIvPgo8L3N2Zz4KICA=");

  @include desktop{
    width: 30%;
  }
 
}
