@font-face {
	font-family: 'montserrat-thin';
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-thin.eot');
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-thin.eot?#iefix') format('embedded-opentype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-thin.woff2') format('woff2'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-thin.woff') format('woff'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-thin.ttf') format('truetype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-thin.svg#thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
