@font-face {
	font-family: 'montserrat-bold';
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-bold.eot');
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-bold.woff2') format('woff2'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-bold.woff') format('woff'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-bold.ttf') format('truetype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-bold.svg#bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
