.Select {
	position: relative;
	padding-top: 2px;

	.arrow {
		position: absolute;
		top: 50%;
		right: 0px;
		transform: translateY(-50%);
	}

	.label {
		font-family:'Open Sans', 'futura-pt', sans-serif;
		font-style: italic;
		width: 100%;
		padding: 10px 5px;
		border-bottom: 1px solid #4a4a4a;
	}

	select {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;

		option.first {
			display: none;
		}
	}
}
