// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//
// Layout
//
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$layout:
(
	xs:
	(
		w: 568px, // 568/12 ≥ 47    | 568/16 ≥ 35.5
		h: 568px, // 568/12 ≥ 47    | 568/16 ≥ 35.5
	),

	sm:
	(
		w: 768px, // 768/12 ≥ 64    | 768/16 ≥ 48
		h: 768px, // 768/12 ≥ 64    | 768/16 ≥ 48
	),

	md:
	(
		w: 1023px, // 1023/12 ≥ 85.25 | 1023/16 ≥ 63.9375
		h: 960px,  // 960/12 ≥ 80     | 960/16 ≥ 60
	),

	lg:
	(
		w: 1140px, // 1140/12 ≥ 95  | 1140/16 ≥ 71.25
		h: 1050px, // 1050/12 ≥ 87  | 1050/16 ≥ 65.62500
	),

	xl:
	(
		w: 1680px, // 1680/12 ≥ 140 | 1680/16 ≥ 105
		h: 1080px, // 1080/12 ≥ 90  | 1080/16 ≥ 67.5
	),

	zIndex:
	(
		dropdown: 101,
		sticky: 102,
		fixed: 103,
		modalBackdrop: 104,
		modal: 105,
		popover: 106,
		tooltip: 107,
	),

	grid:
	(
		nth: child,
		columns: 12,
		maxWidth: 960px,
		parentFirst: false,
		gutterWidth: 1%,
		marginWidth: 2.3%,
		direction: LTR,
	),
);
