@import 'coffeekraken-gridle/flex.scss';

@include g-setup(
  (
    context: 12,
    gutter-width: 0px,
    direction: ltr,
  )
);

@include g-register-state(
  mobile,
  (
    max-width: 1023px,
    context: 4,
    gutter-width: 10px,
  )
);

@include g-register-state(
  note,
  (
    min-width: 993px,
    max-width: 1300px,
  )
);

@include g-register-state(
  desktop,
  (
    min-width: 1301px,
  )
);

@include g-classes();

.FormSchedule {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 105vh;
  overflow: auto;
  background-color: _color('_005');
  z-index: 1000;

  .is-mobile & {
    position: relative;
    left: auto;
    top: auto;
    // height: auto;
  }

  .feedback-modal {
    width: 100%;
    height: 100%;
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .block {
      text-align: center;
    }

    .btn-close-feedback {
      margin-top: 4em;
      display: inline-block;
      background: #bbbdc5;
      padding: 1em 2em;
      color: white;

      &:hover {
        background: black;
      }
    }
  }

  ul {
    position: absolute;
    top: 1vw;
    width: 15vw;
    height: 15vw;
    padding: 0;
    list-style: none;
    overflow: scroll;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px;

    @at-root .is-mobile & {
      width: 60vw;
      height: 40vw;
      top: 3.5vw;
    }
  }

  .autocomplete-item {
    padding: 10px;
    text-align: left;
    line-height: 20px;
    overflow: auto;

    &.is-active {
      background: #eee;
    }
  }

  .error-msg-consessionaria .ErrorMessage {
    margin: 20px;
  }

  .txt-loading {
    text-align: center;
    padding: 20px;
  }

  .btn-close {
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 2%;

    @media (max-width: 500px) {
      position: absolute;
      top: 1vh !important;
      right: 350px;
    }

    img {
      filter: invert(0.5);
      width: 3.5vw;
      height: auto;
    }

    @at-root .is-mobile & {
      top: 10px;
      right: 10px;

      img {
        width: 25px;
        height: auto;
      }
    }
  }

  .form-one {
    padding: 8em 0em;
    text-align: center;

    @at-root .is-mobile & {
      padding: 5em 0em;
    }

    .text {
      margin-top: 1.8em;
      margin-bottom: 3em;
    }

    .separator {
      margin: 3em;

      @at-root .is-mobile & {
        margin: 0px;
        padding: 1.5em;
      }
    }

    .phones {
      text-align: left;

      .content-phone {
        position: relative;
        margin-bottom: 1em;
      }

      .btn-remove {
        background-image: url('./assets/btn-close-phone.png');
        background-size: cover;

        cursor: pointer;
        position: absolute;
        z-index: 10;
        top: 1vw;
        right: -3vw;
        width: 1.6vw;
        height: 1.6vw;

        @at-root .is-mobile & {
          max-width: 20px;
          max-height: 20px;
          width: 5.1vw;
          height: 5.1vw;
        }
      }

      .ddd,
      .phone {
        display: inline-block;
        vertical-align: top;
      }

      .ddd {
        width: 25%;
        margin-right: 5%;
      }

      .phone {
        width: 70%;
      }

      .btn-add-phone {
        display: inline-flex;
        vertical-align: top;
        cursor: pointer;
        position: relative;
        margin-top: 1em;
        transition: color 0.3s;
        align-items: center;

        @at-root .is-mobile & {
          margin: 0px;

          img {
            top: 4px;
            max-width: 20px;
            max-height: 20px;
            width: 5.1vw;
            height: 5.1vw;
          }
        }

        &:hover {
          color: #fff;
        }

        img {
          width: 1.6vw;
          height: 1.6vw;
          margin-right: 8px;
        }
      }
    }
  }

  .form-two {
    background-color: _color('_005');
    text-align: center;
    padding: 5em 0px;

    .cities {
      margin-top: 2em;

      .text-cities {
        display: inline-block;
        vertical-align: top;
      }

      .autocomplete {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-left: 15px;

        &:after {
          content: ' ';
          position: absolute;
          top: 50%;
          right: 2px;
          width: 12px;
          height: 12px;
          margin-top: -6px;
          background-image: url('./assets/arrow.png');
          background-size: cover;
          background-repeat: no-repeat;
        }

        input {
          font-family: 'Open Sans', 'futura-pt', sans-serif;
          background-color: transparent;
          border: 0px;
          border-bottom: 1px solid #979797;
          height: 30px;
          line-height: 30px;
          padding: 0px 5px;
          font-size: 16px;
          color: #fff;
        }
      }
    }

    .concessionarias {
      font-family: 'ProximaNova-Bold', sans-serif;
      color: _color('_000');
      margin: 3em 0em;
    }

    .btn-send {
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      padding: 1em 2em;
      background-color: _color('_003');
      color: _color('_005');
      text-align: center;
      transition: color 0.3s, background-color 0.3s;

      &:hover {
        background-color: _color('_014');
        color: _color('_005');
      }
    }

    .btn-upper {
      text-transform: uppercase;
      text-decoration: none;
    }
  }

  .alert {
    background-color: #fbfcff;
    border: 1px solid #bbbdc5;
    border-radius: 3px;
    padding: 10px;
    position: fixed;
    left: 22%;
    top: 85%;
    width: 60%;
  }

  .alert-text {
    line-height: 21px;
  }

  .textAlert {
    float: left;
    width: 78%;
    text-align: justify;
    padding-left: 1.3%;
  }

  .button {
    float: right;
    width: 20%;
    padding-top: 1.5%;
    text-align: justify;
  }
  .hidden {
    display: none;
  }
  @media only screen and (max-width: 600px) {
    .alert {
      background-color: #fbfcff;
      border: 1px solid #bbbdc5;
      border-radius: 3px;
      padding: 10px;
      position: fixed;
      left: 0%;
      top: 67%;
      width: 100%;
    }

    .textAlert {
      float: left;
      width: 100%;
      text-align: justify;
      padding-left: 1.3%;
    }

    .button {
      float: right;
      width: 100%;
      padding-top: 1.5%;
      text-align: center;
    }
  }

  ::-webkit-input-placeholder {
    font-style: italic;
    color: #979797;
  }

  :-moz-placeholder {
    font-style: italic;
    color: #4f4f50;
  }

  ::-moz-placeholder {
    font-style: italic;
    color: #4f4f50;
  }

  :-ms-input-placeholder {
    font-style: italic;
    color: #4f4f50;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    border-radius: 0;
  }

  .autocomplete-item {
    padding: 10px;
    text-align: left;
    cursor: pointer;
  }
  .autocomplete-item:hover {
    background: #eee;
  }
}

.TextArea {
  border: 2px solid #979797;
  width: 100%;
  height: 5em;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  margin-top: 1em;
  font-family: 'Open Sans', 'futura-pt', sans-serif;
  font-style: italic;
  color: #4f4f50;
}

.ErrorMessage {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: _color('_004');
  margin-top: 6px;
}

// =================================================
// Classes do gridle realmente usadas no formulário
// =================================================

// .row {
// }

// .gr-4\@mobile {
// }

// .gr-5 {
// }

// .gr-6 {
// }

// .gr-10 {
// }

// .gr-12 {
// }

// .prefix-1 {
// }

// .prefix-0\@mobile {
// }

// .suffix-1 {
// }

// .suffix-0\@mobile {
// }

// =================================================
// /Classes do gridle realmente usadas no formulário
// =================================================

.size-14 {
  font-size: 14px;
}

.size-22 {
  font-size: 22px;
}

.size-24 {
  font-size: 24px;
}

.size-36 {
  font-size: 36px;
}

@media (max-width: 1024.1px) {
  .size-36-mobile {
    font-size: 20px;
    line-height: normal;
  }
  .size-26-mobile {
    font-size: 13px;
    line-height: normal;
  }
  .size-24-mobile {
    font-size: 12px;
    line-height: normal;
  }
  .size-22-mobile {
    font-size: 11px;
    line-height: normal;
  }
  .size-20-mobile {
    font-size: 12px;
    line-height: normal;
  }
}

.u-bold {
  font-weight: 700;
}

.u-light {
  font-weight: 300;
}

.InputContainer {
  text-align: left;

  input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    font-family: 'ProximaNova-SBold', sans-serif;
    font-style: italic;
    background-color: transparent;
    color: _color('_002');
    border: 0px;
    border-bottom: 1px solid #979797;

    &.has-mask {
      padding: 7px 5px;
    }
  }

  .msg-error {
    margin-top: 0.2em;
  }
}

.is-mobile {
  .container {
    margin: 20px 15px 10px 15px;
  }
}

.u-radio {
  overflow: visible;
  position: relative;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  transform: translate3d(0, 0, 0);
  border: 1px solid white;
  border-radius: 50%;

  .is-mobile & {
    width: 22px;
    height: 22px;
  }

  &.is-active {
    &:after {
      opacity: 1;
    }
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 6px;
    background-color: #e98300;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.title {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: _color('_003');
}

.text {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: _color('_000');
}

.label {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: _color('_000');
}

.TextArea {
  font-family: 'ProximaNova-Bold', sans-serif;
  color: _color('_003');
}

// .agende{
//   .block{
//     background-color: white;
//     width: 20%;
//     height: 50%;
//   }
// }