@import '@styles/theme', '@styles/mixins';

.container {
  position: relative;
  padding: 14px #{$section-horizontal-padding} 30px !important;
  min-height: calc(400px);
  background-color: $background-white;
  background: linear-gradient(
    0deg,
    $background-white 45%,
    $background-primary 45%
  );
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: 50px #{$section-horizontal-padding-desktop} 50px !important;
  }
}

.imageContainer {
  position: relative;
}

.tagline {
  width: 100%;
  @include desktop {
    position: absolute;
    left: calc(50% + #{$section-horizontal-padding});
    bottom: 40%;
    width: auto;
    min-height: 45%;
  }
}

.content {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px #{toRem(50)};
  grid-template-areas: '.';
  justify-items: start;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;


  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. .';
  }

  .ctaHolder {
    width: 100%;
    margin-top: toRem(20);
    @include desktop {
      margin-top: calc(27% + #{toRem(40)});
      width: unset;
    }

    a:nth-child(2){
      margin-top: 10px;
      @include desktop {
        margin-top: 15px;
      }
    }
    p {
      margin-right: toRem(100);
      font-size: toRem(16);
    }

    a:hover > div {
      background-color: $background-primary;
      p,
      svg {
        color: $text-primary;
      }
    }
  }

  .imageHolder {
    position: relative;
    width: calc(100% + #{$section-horizontal-padding});
    margin-right: calc(#{$section-horizontal-padding} * -1);
    
    @include desktop {
      width: 100%;
      margin-right: 0;
    }

    .flag {
      position: absolute;
      display: none;
      width: 85px;
      top: -45px;
      left: 85px;
      z-index: 1;

      @include desktop {
        display: block;
      }
    }
  }

  a {
    div {
      margin: 0;
    }
  }
}
