$white: #ffffff;
$purple: #3b369e;
$cyan: #91d1db;
$yellow: #ffb80f;
$pink: #ff8094;
$gray: #edede3;
$black: #000000;
$red: #ff1430;

$color--primary: $purple;
$color--secondary: $cyan;
$color--support: $gray;

$regular: "Futura PT";
$book: "Futura PT Book";
$bold: "Futura PT Bold";
