@import '../base/@';

//
// # Button
// >
//
// ## Usage:
//
// You have to call this file in your style:
// ```scss
// .Button {
// 	@include ButtonAlternative(
//		$width: auto,
//		$height: auto,
// 	);
// }
// ```
//
// The template should be something like:
// ```html
// <body>
// 	<!-- Button -->
// 	<button class="Button" data-ui="button-alternative">
// 		Alternative A
// 	</button>
// </body>
// ```
//
@mixin ButtonAlternative(
	$fontFamily: (Ubuntu, Helvetica, Arial, sans-serif),
	$fontSize: (4.5vw, 13px, 18px, 13px, 0),
	$fontWeight: lighter,
	$fontStyle: normal,
	$borderRadius: 5px,
	$borderWidth: 0,
	$borderStyle: none,
	$borderColor: transparent,
	$border: $borderWidth $borderStyle $borderColor,
	$textColor: #fff,
	$textAlign: center,
	$textDecoration: none,
	$backgroundColor: #222,
	$disabledBackgroundColor: #999,
	$hoverBackgroundColor: #333,
	$focusBackgroundColor: #333,
	$activeBackgroundColor: #333,
	$visitedBackgroundColor: #6B79FF,
	$disabledTextColor: #666,
	$hoverTextColor: $textColor,
	$focusTextColor: $textColor,
	$activeTextColor: $textColor,
	$visitedTextColor: $textColor,
	$boxShadowHLength: 0px,
	$boxShadowVLength: 2px,
	$boxShadowBlurRadius: 5px,
	$boxShadowSpreadRadius: 0px,
	$boxShadowShadowColor: rgba(0, 0, 0, 0.2),
	$boxShadow: $boxShadowHLength $boxShadowVLength $boxShadowBlurRadius $boxShadowSpreadRadius $boxShadowShadowColor,
	$outline: none,
	$selectionColor: transparent,
	$width: null,
	$height: null,
	$padding: em(8px) em(20px),
	$margin: 1%,
	$name: null,
	$usePseudoHover: true,
	$usePseudoFocus: false,
	$usePseudoActive: false,
	$usePseudoVisited: false,
	$truncateText: true,
	$cursor: pointer,
) {
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	// ~ Variables ~
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	$name: #{$name or &};


	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	// ~ Inheritance ~
	// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	@include ButtonBase(
		$fontFamily,
		$fontSize,
		$fontWeight,
		$fontStyle,
		$borderRadius,
		$borderWidth,
		$borderStyle,
		$borderColor,
		$border,
		$textColor,
		$textAlign,
		$textDecoration,
		$backgroundColor,
		$disabledBackgroundColor,
		$hoverBackgroundColor,
		$focusBackgroundColor,
		$activeBackgroundColor,
		$visitedBackgroundColor,
		$disabledTextColor,
		$hoverTextColor,
		$focusTextColor,
		$activeTextColor,
		$visitedTextColor,
		$boxShadowHLength,
		$boxShadowVLength,
		$boxShadowBlurRadius,
		$boxShadowSpreadRadius,
		$boxShadowShadowColor,
		$boxShadow,
		$outline,
		$selectionColor,
		$width,
		$height,
		$padding,
		$margin,
		$name,
		$usePseudoHover,
		$usePseudoFocus,
		$usePseudoActive,
		$usePseudoVisited,
		$truncateText,
		$cursor,
	);
}
