@font-face {
	font-family: 'montserrat-regular';
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-regular.eot');
	src: local('Montserrat'), url('#{$fontsPath}/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-regular.woff') format('woff'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-regular.ttf') format('truetype'),
		url('#{$fontsPath}/fonts/montserrat/montserrat-regular.svg#regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
