.InputContainer {
	text-align: left;

	textarea:focus{
		border: 1px solid #e50353;
	}
	input:focus {
		border-bottom: 1px solid #e50353;
	}
	input {
		display: block;
		width: 100%;
		padding: 10px 5px;

		font-family: 'Open Sans', 'FuturaPT', sans-serif;
		font-style: italic;

		background-color: transparent;
		color: #4f4f50;

		border: 0px;
		border-bottom: 1px solid #4a4a4a;
	}

	.msg-error {
		margin-top: 0.2em;
	}
}
