@import '@styles/theme';

.button {
  flex-shrink: 0;
  background-color: #393936;
  position: relative;
  // transition: background-color $transition-time-quickest
  //   $transition-easing;
  // color: $text-primary;

  width: 46px;
  height: 46px;

  &.secondary {
    background-color: $text-secondary;
  }
  &.light {
    background-color: $tabs-color;
  }
  &.large {
    width: 52px;
    height: 52px;
  }

  &:hover,
  &:active {
    &:not(.disabled) {
      background: #FF1430;
      &.secondary {
        color: $text-secondary;
      }
      &.light {
        background: $primary;
      }
    }
  }

  &.previous svg {
    transform: rotate(180deg);
  }

  &.disabled {
    opacity: 0.3 !important;
    cursor: default;
  }
}
