@use "../../styles/variables" as var;
@use "../../styles/mixins" as mixin;

$ww: 1920;

.container {
  width: 112px;
  height: 114px;
  position: relative;
  border: 2px solid var.$yellow;
  margin-right: 16px;
  cursor: pointer;

  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 2px solid var.$red;
    z-index: -1;
  }

  .content {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: "+";
      width: 21px;
      height: 20px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: var.$yellow;
      color: var.$black;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.active,
  &:hover {
    &::after {
      background-color: var.$yellow;
      border-color: var.$yellow;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  p {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: var.$bold;
    font-size: 12px;
    color: var.$white;
    font-weight: bold;
    line-height: 13px;
    z-index: 1;
    padding: 7px 9px;
  }
}

@media only screen and (max-width: 1300px) {
  $ww: 1660;

  .container {
    width: 80px;
    height: 79px;
    border: 2px solid var.$yellow;
    margin-right: 10px;
  
    &:after {
      content: "";
      top: 2px;
      left: 2px;
    }
  
    .content {
      &::before {
        content: "+";
        width: 15px;
        height: 15px;
      }
    }
  
    p {
      font-size: 10px;
      line-height: 11px;
      padding: 7px 9px;
    }
  }
}

@media only screen and (max-width: 770px) {
  .container {
    width: calc(100% - 10px);
    margin-right: 5px;
    height: 2px;
    background-color: var.$gray;
    outline-color: transparent !important;
    border: none;

    &:before,
    &:after {
      display: none;
    }

    .content {
      &::before {
        display: none;
      }
    }

    &.active {
      background-color: var.$yellow;
    }

    span,
    p,
    img {
      display: none !important;
    }
  }
}
