@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins" as mixin;

.container {
  width: 100%;
  position: relative;

  .image {
    width: 100%;

    span,
    img {
      width: 100% !important;
      height: 100% !important;
      display: block !important;
      position: relative !important;
    }
  }

  .content {
    padding: 80px 40px 60px 40px;
    color: var.$color--primary;

    h4 {
      font-family: var.$bold;
      font-size: 20px;
      line-height: 26px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;
      padding-right: 50px;

      br {
        display: none;
      }
    }

    p {
      font-family: var.$regular;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
    }

    a {
      margin-top: 40px;
    }
  }

  .wrapperButton {
    padding: 0 20px 0 20px;

    a {
      margin-bottom: 26px;
    }
  }

  .swiperWrapperNavigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70vw;
  }

  .swiperPagination {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    .swiperPaginationBullet {
      width: 8px;
      height: 8px;
      background-color: var.$yellow;
      border: 1px solid var.$color--primary;
      border-radius: 50%;
      margin: 0 8px;

      &.active {
        background-color: var.$cyan;
      }
    }
  }

  .swiperButton {
    top: auto;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    .content {
      h4 {
        color: var.$white;
        br {
          display: block;
        }
      }

      p {
        color: var.$white;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    .swiperWrapperNavigation {
      top: 75vw;
    }
  }
}
